<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - AureliaDotnetTemplate</title>
	<base href="~/" />
	<% for (var css in htmlWebpackPlugin.files.css) { %>
	<link href="~<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" asp-append-version="true">
	<% } %>
</head>
<body>
	@RenderBody()
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
	<script src="~<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" asp-append-version="true"></script> <% } %>
</body>
</html>
