<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - AureliaDotnetTemplate</title>
	<base href="~/" />
	
	<link href="~/dist/vendor.css" rel="stylesheet" asp-append-version="true">
	
</head>
<body>
	@RenderBody()
	
	<script src="~/dist/vendors~app.js" asp-append-version="true"></script> 
	<script src="~/dist/app.js" asp-append-version="true"></script> 
</body>
</html>
